div#datoscontacto {
    border: solid 1px #ebebeb;
    padding: 19px;
    border-radius: 15px;
    margin-top: 19px;
    margin-bottom: 42px;
}

div#contenidotexto {
    border: solid 1px #ebebeb;
    padding: 19px;
    border-radius: 15px;
    margin-top: 19px;
    margin-bottom: 42px;
}